<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pzh.system.web.project.dao.first.mapper.info.InfoDishesMapper">

    <resultMap id="BaseResultMap" type="cn.pzh.system.web.project.dao.first.entity.info.InfoDishesEntity" >
        <result column="ID" property="id" jdbcType="INTEGER" />
        <result column="DISHES_TYPE" property="dishesType" jdbcType="INTEGER" />
        <result column="DISHES_NAME" property="dishesName" jdbcType="VARCHAR" />
        <result column="DISHES_PRICE" property="dishesPrice" jdbcType="DECIMAL" />
        <result column="DISHES_DISCOUNT" property="dishesDiscount" jdbcType="VARCHAR" />
        <result column="DISHES_PAY" property="dishesPay" jdbcType="DECIMAL" />
        <result column="DISHES_IMAGE" property="dishesImage" jdbcType="VARCHAR" />
        <result column="DISHES_TASTE" property="dishesTaste" jdbcType="INTEGER" />
        <result column="DISHES_LEVEL" property="dishesLevel" jdbcType="VARCHAR" />
        <result column="DIS_FLAG" property="disFlag" jdbcType="INTEGER" />
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
        <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />

    </resultMap>

    <sql id="selectColumn">
        INFO_DISHES.ID,
        INFO_DISHES.DISHES_TYPE,
        INFO_DISHES.DISHES_NAME,
        INFO_DISHES.DISHES_PRICE,
        INFO_DISHES.DISHES_DISCOUNT,
        INFO_DISHES.DISHES_PAY,
        INFO_DISHES.DISHES_IMAGE,
        INFO_DISHES.DISHES_TASTE,
        INFO_DISHES.DISHES_LEVEL,
        INFO_DISHES.DIS_FLAG,
        INFO_DISHES.CREATE_DATE,
        INFO_DISHES.UPDATE_DATE,
        INFO_DISHES.CREATE_USER,
        INFO_DISHES.UPDATE_USER
    </sql>

    <sql id="whereCause">
        <where>
            INFO_DISHES.DIS_FLAG = 0
        </where>
    </sql>

    <!-- 列表信息查询语句 -->
    <select id="listDishess" parameterType="cn.pzh.system.web.project.dao.first.entity.info.InfoDishesEntity" resultMap="BaseResultMap">
        SELECT
        <include refid="selectColumn"></include>
        FROM INFO_DISHES
        <include refid="whereCause"></include>
    </select>

    <!-- 根据ID查询信息 -->
    <select id="selectDishesById" parameterType="Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="selectColumn"></include>
        FROM INFO_DISHES
        WHERE INFO_DISHES.ID = #{id,jdbcType=INTEGER}
        AND INFO_DISHES.DIS_FLAG = 0
    </select>

    <!-- 批量保存信息 -->
    <insert id="saveList" parameterType="java.util.List">
        INSERT INTO INFO_DISHES (
            ID,
            DISHES_TYPE,
            DISHES_NAME,
            DISHES_PRICE,
            DISHES_DISCOUNT,
            DISHES_PAY,
            DISHES_IMAGE,
            DISHES_TASTE,
            DISHES_LEVEL,
            DIS_FLAG,
            CREATE_DATE,
            UPDATE_DATE,
            CREATE_USER,
            UPDATE_USER
        )
        VALUES
        <foreach collection="list" item="item" index= "index" separator =",">
        (
            #{item.id,jdbcType=INTEGER},
            #{item.dishesType,jdbcType=INTEGER},
            #{item.dishesName,jdbcType=VARCHAR},
            #{item.dishesPrice,jdbcType=DECIMAL},
            #{item.dishesDiscount,jdbcType=VARCHAR},
            #{item.dishesPay,jdbcType=DECIMAL},
            #{item.dishesImage,jdbcType=VARCHAR},
            #{item.dishesTaste,jdbcType=INTEGER},
            #{item.dishesLevel,jdbcType=VARCHAR},
            #{item.disFlag,jdbcType=INTEGER},
            #{item.createDate,jdbcType=TIMESTAMP},
            #{item.updateDate,jdbcType=TIMESTAMP},
            #{item.createUser,jdbcType=VARCHAR},
            #{item.updateUser,jdbcType=VARCHAR}
        )
        </foreach>
    </insert>

    <!-- 保存信息 -->
    <insert id="save" parameterType="cn.pzh.system.web.project.dao.first.entity.info.InfoDishesEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO INFO_DISHES (
            ID,
            DISHES_TYPE,
            DISHES_NAME,
            DISHES_PRICE,
            DISHES_DISCOUNT,
            DISHES_PAY,
            DISHES_IMAGE,
            DISHES_TASTE,
            DISHES_LEVEL,
            DIS_FLAG,
            CREATE_DATE,
            UPDATE_DATE,
            CREATE_USER,
            UPDATE_USER
        )
        VALUES (
            #{id,jdbcType=INTEGER},
            #{dishesType,jdbcType=INTEGER},
            #{dishesName,jdbcType=VARCHAR},
            #{dishesPrice,jdbcType=DECIMAL},
            #{dishesDiscount,jdbcType=VARCHAR},
            #{dishesPay,jdbcType=DECIMAL},
            #{dishesImage,jdbcType=VARCHAR},
            #{dishesTaste,jdbcType=INTEGER},
            #{dishesLevel,jdbcType=VARCHAR},
            #{disFlag,jdbcType=INTEGER},
            #{createDate,jdbcType=TIMESTAMP},
            #{updateDate,jdbcType=TIMESTAMP},
            #{createUser,jdbcType=VARCHAR},
            #{updateUser,jdbcType=VARCHAR}
        )
    </insert>

    <!-- 更新信息 -->
    <update id="update" parameterType="cn.pzh.system.web.project.dao.first.entity.info.InfoDishesEntity">
        UPDATE INFO_DISHES
        <trim prefix="set" suffixOverrides=",">
            <if test="id != null">ID=#{id,jdbcType=INTEGER},</if>
            <if test="dishesType != null">DISHES_TYPE=#{dishesType,jdbcType=INTEGER},</if>
            <if test="dishesName != null">DISHES_NAME=#{dishesName,jdbcType=VARCHAR},</if>
            <if test="dishesPrice != null">DISHES_PRICE=#{dishesPrice,jdbcType=DECIMAL},</if>
            <if test="dishesDiscount != null">DISHES_DISCOUNT=#{dishesDiscount,jdbcType=VARCHAR},</if>
            <if test="dishesPay != null">DISHES_PAY=#{dishesPay,jdbcType=DECIMAL},</if>
            <if test="dishesImage != null">DISHES_IMAGE=#{dishesImage,jdbcType=VARCHAR},</if>
            <if test="dishesTaste != null">DISHES_TASTE=#{dishesTaste,jdbcType=INTEGER},</if>
            <if test="dishesLevel != null">DISHES_LEVEL=#{dishesLevel,jdbcType=VARCHAR},</if>
            <if test="disFlag != null">DIS_FLAG=#{disFlag,jdbcType=INTEGER},</if>
            <if test="createDate != null">CREATE_DATE=#{createDate,jdbcType=TIMESTAMP},</if>
            <if test="updateDate != null">UPDATE_DATE=#{updateDate,jdbcType=TIMESTAMP},</if>
            <if test="createUser != null">CREATE_USER=#{createUser,jdbcType=VARCHAR},</if>
            <if test="updateUser != null">UPDATE_USER=#{updateUser,jdbcType=VARCHAR},</if>

        </trim>
        WHERE ID=#{id,jdbcType=INTEGER}
        AND INFO_DISHES.DIS_FLAG = 0
    </update>

</mapper>
