<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pzh.system.web.project.dao.first.mapper.info.InfoPayMapper">

    <resultMap id="BaseResultMap" type="cn.pzh.system.web.project.dao.first.entity.info.InfoPayEntity" >
        <result column="ID" property="id" jdbcType="INTEGER" />
        <result column="PAY_STATE" property="payState" jdbcType="INTEGER" />
        <result column="PAY_TYPE" property="payType" jdbcType="INTEGER" />
        <result column="PAY_AMOUNT" property="payAmount" jdbcType="DECIMAL" />
        <result column="TABLE_NUMBER" property="tableNumber" jdbcType="VARCHAR" />
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />

    </resultMap>

    <sql id="selectColumn">
        INFO_PAY.ID,
        INFO_PAY.PAY_STATE,
        INFO_PAY.PAY_TYPE,
        INFO_PAY.PAY_AMOUNT,
        INFO_PAY.TABLE_NUMBER,
        INFO_PAY.CREATE_DATE
    </sql>

    <sql id="whereCause">
        <where>
            INFO_PAY.DIS_FLAG = 0
        </where>
    </sql>

    <!-- 列表信息查询语句 -->
    <select id="listPays" parameterType="cn.pzh.system.web.project.dao.first.entity.info.InfoPayEntity" resultMap="BaseResultMap">
        SELECT
        <include refid="selectColumn"></include>
        FROM INFO_PAY
        <include refid="whereCause"></include>
    </select>

    <!-- 根据ID查询信息 -->
    <select id="selectPayById" parameterType="Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="selectColumn"></include>
        FROM INFO_PAY
        WHERE INFO_PAY.ID = #{id,jdbcType=INTEGER}
        AND INFO_PAY.DIS_FLAG = 0
    </select>

    <!-- 批量保存信息 -->
    <insert id="saveList" parameterType="java.util.List">
        INSERT INTO INFO_PAY (
            ID,
            PAY_STATE,
            PAY_TYPE,
            PAY_AMOUNT,
            TABLE_NUMBER,
            CREATE_DATE
        )
        VALUES
        <foreach collection="list" item="item" index= "index" separator =",">
        (
            #{item.id,jdbcType=INTEGER},
            #{item.payState,jdbcType=INTEGER},
            #{item.payType,jdbcType=INTEGER},
            #{item.payAmount,jdbcType=DECIMAL},
            #{item.tableNumber,jdbcType=VARCHAR},
            #{item.createDate,jdbcType=TIMESTAMP}
        )
        </foreach>
    </insert>

    <!-- 保存信息 -->
    <insert id="save" parameterType="cn.pzh.system.web.project.dao.first.entity.info.InfoPayEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO INFO_PAY (
            ID,
            PAY_STATE,
            PAY_TYPE,
            PAY_AMOUNT,
            TABLE_NUMBER,
            CREATE_DATE
        )
        VALUES (
            #{id,jdbcType=INTEGER},
            #{payState,jdbcType=INTEGER},
            #{payType,jdbcType=INTEGER},
            #{payAmount,jdbcType=DECIMAL},
            #{tableNumber,jdbcType=VARCHAR},
            #{createDate,jdbcType=TIMESTAMP}
        )
    </insert>

    <!-- 更新信息 -->
    <update id="update" parameterType="cn.pzh.system.web.project.dao.first.entity.info.InfoPayEntity">
        UPDATE INFO_PAY
        <trim prefix="set" suffixOverrides=",">
            <if test="id != null">ID=#{id,jdbcType=INTEGER},</if>
            <if test="payState != null">PAY_STATE=#{payState,jdbcType=INTEGER},</if>
            <if test="payType != null">PAY_TYPE=#{payType,jdbcType=INTEGER},</if>
            <if test="payAmount != null">PAY_AMOUNT=#{payAmount,jdbcType=DECIMAL},</if>
            <if test="tableNumber != null">TABLE_NUMBER=#{tableNumber,jdbcType=VARCHAR},</if>
            <if test="createDate != null">CREATE_DATE=#{createDate,jdbcType=TIMESTAMP},</if>

        </trim>
        WHERE ID=#{id,jdbcType=INTEGER}
        AND INFO_PAY.DIS_FLAG = 0
    </update>

</mapper>
