<?xml version="1.0"?>
<configuration>

    <!-- 文件输出格式 -->
    <property name = "PATTERN"
            value = "%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |- %-5level -${HOSTNAME} [%thread] %logger{5}  -| %msg%n" />
    <!-- test文件路径 -->
    <property name = "FILE_PATH" value = "/logs" />

    <springProperty scope="context" name="env" source="spring.profiles"/>
    <springProperty scope="context" name="raw_log_path" source="log.path.all"/>
    <springProperty scope="context" name="raw_error_log_path" source="log.path.error"/>
    <springProperty scope="context" name="log_level" source="log.level.app"/>
    <springProperty scope="context" name="root_log_level" source="log.level.root"/>

    <appender name = "STDOUT" class = "ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name = "FILE_APP"
            class = "ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${raw_log_path}</file>
        <rollingPolicy class = "ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${raw_log_path}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <layout class = "ch.qos.logback.classic.PatternLayout">
            <pattern>${PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <file>${raw_error_log_path}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${raw_error_log_path}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="weiXinAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/logs/bribery.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/logs/wx-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="cn.pzh.system.web.project.business.wx" level="INFO" additivity="false">
        <appender-ref ref="weiXinAppender" />
    </logger>

    <logger name="cn.pzh.system"  additivity="false">
        <level value="${log_level}" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE_APP" />
        <appender-ref ref="FILE_ERROR" />
    </logger>

    <root level="${root_log_level}">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE_APP" />
        <appender-ref ref="FILE_ERROR" />
    </root>

</configuration>

