<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pzh.system.web.project.sys.dao.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="cn.pzh.system.web.project.common.dao.first.entity.SystemMenuEntity" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="CODE" property="code" jdbcType="VARCHAR" />
        <result column="PCODE" property="pcode" jdbcType="VARCHAR" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="ICON" property="icon" jdbcType="VARCHAR" />
        <result column="URL" property="url" jdbcType="VARCHAR" />
        <result column="IS_OPEN" property="isOpen" jdbcType="INTEGER" />
        <result column="IS_MENU" property="isMenu" jdbcType="INTEGER" />
        <result column="NUM" property="num" jdbcType="INTEGER" />
        <result column="TIPS" property="tips" jdbcType="VARCHAR" />
    </resultMap>

    <!--  -->
    <select id="getMenuList" parameterType="java.util.ArrayList" resultMap="BaseResultMap">
        SELECT
            SYS_MENU.ID,
            SYS_MENU.CODE,
            SYS_MENU.PCODE,
            SYS_MENU.NAME,
            SYS_MENU.ICON,
            SYS_MENU.URL,
            SYS_MENU.IS_OPEN,
            SYS_MENU.IS_MENU,
            SYS_MENU.NUM,
            SYS_MENU.TIPS
        FROM SYS_MENU SYS_MENU
        INNER JOIN SYS_MENU_ROLE SYS_MENU_ROLE
        ON SYS_MENU.ID = SYS_MENU_ROLE.MENU_ID
        WHERE SYS_MENU.DIS_FLAG = 0
        AND SYS_MENU_ROLE.ROLE_ID in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY NUM ASC
    </select>
    <insert id="saveMenu" parameterType="cn.pzh.system.web.project.common.dao.first.entity.SystemMenuEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO SYS_MENU (
            CODE,
            PCODE,
            'NAME',
            ICON,
            URL,
            IS_OPEN,
            IS_MENU,
            NUM,
            TIPS,
            DIS_FLAG,
            CREATE_USER,
            CREATE_DATE,
            UPDATE_USER,
            UPDATE_DATE)
        VALUES (
            #{code,jdbcType=VARCHAR},
            #{pcode,jdbcType=VARCHAR},
            #{name,jdbcType=VARCHAR},
            #{icon,jdbcType=VARCHAR},
            #{url,jdbcType=VARCHAR},
            #{isOpen,jdbcType=INTEGER},
            #{isMenu,jdbcType=INTEGER},
            #{num,jdbcType=INTEGER},
            #{tips,jdbcType=INTEGER},
            #{disFlag,jdbcType=INTEGER},
            #{createUser,jdbcType=VARCHAR},
            #{createDate,jdbcType=TIMESTAMP},
            #{updateUser,jdbcType=VARCHAR},
            #{updateDate,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="menuTreeList" resultType="cn.pzh.system.web.project.common.model.ZTreeNode">
        SELECT
            m1.id AS id,
            (CASE WHEN (m2.id = 0 OR m2.id IS NULL) THEN 0
            ELSE m2.id END ) AS pId,
            m1.NAME AS NAME,
            (CASE WHEN (m2.id = 0 OR m2.id IS NULL) THEN 'true'
            ELSE 'false' END ) as isOpen
        FROM
          sys_menu m1
        LEFT JOIN sys_menu m2 ON m1.pcode = m2. CODE
        ORDER BY
          m1.id ASC
    </select>
</mapper>
