<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pzh.system.web.project.dao.first.mapper.wx.UserMapper">

    <resultMap id="BaseResultMap" type="cn.pzh.system.web.project.dao.first.entity.wx.WxUserEntity" >
        <result column="ID" property="id" jdbcType="BIGINT UNSIGNED" />
        <result column="ACCESSTOKEN" property="accesstoken" jdbcType="VARCHAR" />
        <result column="OPENID" property="openid" jdbcType="VARCHAR" />
        <result column="NICKNAME" property="nickname" jdbcType="VARCHAR" />
        <result column="HEADIMG" property="headimg" jdbcType="VARCHAR" />
        <result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
        <result column="PROVICE" property="provice" jdbcType="VARCHAR" />
        <result column="CITY" property="city" jdbcType="VARCHAR" />
        <result column="MONEY" property="money" jdbcType="INTEGER" />

    </resultMap>

    <sql id="selectColumn">
        WX_USER.ID,
        WX_USER.ACCESSTOKEN,
        WX_USER.OPENID,
        WX_USER.NICKNAME,
        WX_USER.HEADIMG,
        WX_USER.CREATETIME,
        WX_USER.PROVICE,
        WX_USER.CITY,
        WX_USER.MONEY
    </sql>

    <sql id="whereCause">
        <where>
            WX_USER.DIS_FLAG = 0
        </where>
    </sql>

    <!-- 列表信息查询语句 -->
    <select id="listUsers" parameterType="cn.pzh.system.web.project.dao.first.entity.wx.WxUserEntity" resultMap="BaseResultMap">
        SELECT
        <include refid="selectColumn"></include>
        FROM WX_USER
        <include refid="whereCause"></include>
    </select>

    <!-- 根据ID查询信息 -->
    <select id="selectUserById" parameterType="Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="selectColumn"></include>
        FROM WX_USER
        WHERE WX_USER.ID = #{id,jdbcType=INTEGER}
        AND WX_USER.DIS_FLAG = 0
    </select>

    <!-- 批量保存信息 -->
    <insert id="saveList" parameterType="java.util.List">
        INSERT INTO WX_USER (
            ACCESSTOKEN,
            OPENID,
            NICKNAME,
            HEADIMG,
            CREATETIME,
            PROVICE,
            CITY,
            MONEY
        )
        VALUES
        <foreach collection="list" item="item" index= "index" separator =",">
        (
            #{item.accesstoken,jdbcType=VARCHAR},
            #{item.openid,jdbcType=VARCHAR},
            #{item.nickname,jdbcType=VARCHAR},
            #{item.headimg,jdbcType=VARCHAR},
            #{item.createtime,jdbcType=VARCHAR},
            #{item.provice,jdbcType=VARCHAR},
            #{item.city,jdbcType=VARCHAR},
            #{item.money,jdbcType=INTEGER}
        )
        </foreach>
    </insert>

    <!-- 保存信息 -->
    <insert id="save" parameterType="cn.pzh.system.web.project.dao.first.entity.wx.WxUserEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO WX_USER (
            ACCESSTOKEN,
            OPENID,
            NICKNAME,
            HEADIMG,
            CREATETIME,
            PROVICE,
            CITY,
            MONEY
        )
        VALUES (
            #{accesstoken,jdbcType=VARCHAR},
            #{openid,jdbcType=VARCHAR},
            #{nickname,jdbcType=VARCHAR},
            #{headimg,jdbcType=VARCHAR},
            #{createtime,jdbcType=VARCHAR},
            #{provice,jdbcType=VARCHAR},
            #{city,jdbcType=VARCHAR},
            #{money,jdbcType=INTEGER}
        )
    </insert>

    <!-- 更新信息 -->
    <update id="update" parameterType="cn.pzh.system.web.project.dao.first.entity.wx.WxUserEntity">
        UPDATE WX_USER
        <trim prefix="set" suffixOverrides=",">
            <if test="accesstoken != null">ACCESSTOKEN=#{accesstoken,jdbcType=VARCHAR},</if>
            <if test="openid != null">OPENID=#{openid,jdbcType=VARCHAR},</if>
            <if test="nickname != null">NICKNAME=#{nickname,jdbcType=VARCHAR},</if>
            <if test="headimg != null">HEADIMG=#{headimg,jdbcType=VARCHAR},</if>
            <if test="createtime != null">CREATETIME=#{createtime,jdbcType=VARCHAR},</if>
            <if test="provice != null">PROVICE=#{provice,jdbcType=VARCHAR},</if>
            <if test="city != null">CITY=#{city,jdbcType=VARCHAR},</if>
            <if test="money != null">MONEY=#{money,jdbcType=INTEGER},</if>

        </trim>
        WHERE ID=#{id,jdbcType=INTEGER}
        AND WX_USER.DIS_FLAG = 0
    </update>

</mapper>
