<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pzh.system.web.project.dao.first.mapper.sys.MenuMapper">

    <resultMap id="BaseResultMap" type="cn.pzh.system.web.project.dao.first.entity.sys.SystemMenuEntity" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="CODE" property="code" jdbcType="VARCHAR" />
        <result column="PID" property="pid" jdbcType="INTEGER" />
        <result column="MENU_REAL_NAME" property="menuRealName" jdbcType="VARCHAR" />
        <result column="ICON" property="icon" jdbcType="VARCHAR" />
        <result column="URL" property="url" jdbcType="VARCHAR" />
        <result column="OPEN_FLAG" property="openFlag" jdbcType="INTEGER" />
        <result column="MENU_FLAG" property="menuFlag" jdbcType="INTEGER" />
        <result column="NUM" property="num" jdbcType="INTEGER" />
        <result column="TIPS" property="tips" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="selectColumn">
        SYS_MENU.ID,
        SYS_MENU.CODE,
        SYS_MENU.PID,
        SYS_MENU.MENU_REAL_NAME,
        SYS_MENU.ICON,
        SYS_MENU.URL,
        SYS_MENU.OPEN_FLAG,
        SYS_MENU.MENU_FLAG,
        SYS_MENU.NUM,
        SYS_MENU.TIPS
    </sql>

    <!-- 根据角色ID获得首页的菜单 -->
    <select id="listIndexMenus" parameterType="java.util.ArrayList" resultMap="BaseResultMap">
        SELECT
          DISTINCT <include refid="selectColumn"></include>
        FROM SYS_MENU SYS_MENU
        INNER JOIN SYS_MENU_ROLE SYS_MENU_ROLE
        ON SYS_MENU.ID = SYS_MENU_ROLE.MENU_ID
        WHERE SYS_MENU.DIS_FLAG = 0
        AND SYS_MENU_ROLE.ROLE_ID in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY NUM ASC
    </select>

    <!-- 获得菜单列表 -->
    <select id="listMenus" resultMap="BaseResultMap">
        SELECT
        <include refid="selectColumn"></include>
        FROM SYS_MENU SYS_MENU
        WHERE SYS_MENU.DIS_FLAG = 0
        ORDER BY SYS_MENU.NUM ASC
    </select>

    <!-- 保存菜单信息 -->
    <insert id="saveMenu" parameterType="cn.pzh.system.web.project.dao.first.entity.sys.SystemMenuEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO SYS_MENU (
            CODE,
            PID,
            MENU_REAL_NAME,
            ICON,
            URL,
            OPEN_FLAG,
            MENU_FLAG,
            NUM,
            TIPS,
            DIS_FLAG,
            CREATE_USER,
            CREATE_DATE,
            UPDATE_USER,
            UPDATE_DATE)
        VALUES (
            #{code,jdbcType=VARCHAR},
            #{pid,jdbcType=INTEGER},
            #{menuRealName,jdbcType=VARCHAR},
            #{icon,jdbcType=VARCHAR},
            #{url,jdbcType=VARCHAR},
            #{openFlag,jdbcType=INTEGER},
            #{menuFlag,jdbcType=INTEGER},
            #{num,jdbcType=INTEGER},
            #{tips,jdbcType=INTEGER},
            #{disFlag,jdbcType=INTEGER},
            #{createUser,jdbcType=VARCHAR},
            #{createDate,jdbcType=TIMESTAMP},
            #{updateUser,jdbcType=VARCHAR},
            #{updateDate,jdbcType=TIMESTAMP}
        )
    </insert>

    <!-- 获得菜单树 -->
    <select id="listMenuTree" resultType="cn.pzh.system.web.project.common.model.ZTreeNode">
        SELECT
            m1.id AS id,
            (CASE WHEN (m2.id = 0 OR m2.id IS NULL) THEN 0
            ELSE m2.id END ) AS pId,
            m1.MENU_REAL_NAME AS NAME,
            (CASE WHEN (m2.id = 0 OR m2.id IS NULL) THEN 'true'
            ELSE 'false' END ) as isOpen
        FROM
          sys_menu m1
        LEFT JOIN sys_menu m2 ON m1.pid = m2.id
        ORDER BY
          m1.id ASC
    </select>

    <!-- 根据菜单ID获得菜单编码 -->
    <select id="selectCodeById" resultType="String" parameterType="String">
        SELECT
          SYS_MENU.CODE
        FROM SYS_MENU SYS_MENU
        WHERE SYS_MENU.DIS_FLAG = 0
        AND SYS_MENU.ID=#{id,jdbcType=VARCHAR}
    </select>

    <!-- 根据菜单编码获得菜单信息 -->
    <select id="getMenuByMenuCode" resultMap="BaseResultMap" parameterType="String">
        SELECT
        <include refid="selectColumn"></include>
        FROM SYS_MENU SYS_MENU
        WHERE SYS_MENU.DIS_FLAG = 0
        AND SYS_MENU.CODE=#{code,jdbcType=VARCHAR}
    </select>

    <!-- 根据菜单ID获得菜单信息 -->
    <select id="getMenuByMenuId" resultMap="BaseResultMap" parameterType="Integer">
        SELECT
        <include refid="selectColumn"></include>
        FROM SYS_MENU SYS_MENU
        WHERE SYS_MENU.DIS_FLAG = 0
        AND SYS_MENU.ID=#{id,jdbcType=VARCHAR}
    </select>

    <!-- 更新菜单信息 -->
    <update id="updateMenu" parameterType="cn.pzh.system.web.project.dao.first.entity.sys.SystemMenuEntity">
        UPDATE SYS_MENU
        <trim prefix="set" suffixOverrides=",">
            <if test="code != null">CODE=#{code,jdbcType=VARCHAR},</if>
            <if test="pid != null">PID=#{pid,jdbcType=VARCHAR},</if>
            <if test="menuRealName != null">MENU_REAL_NAME=#{menuRealName,jdbcType=VARCHAR},</if>
            <if test="icon != null">ICON=#{icon,jdbcType=VARCHAR},</if>
            <if test="url != null">URL=#{url,jdbcType=VARCHAR},</if>
            <if test="num != null">NUM=#{num,jdbcType=INTEGER},</if>
            <if test="levels != null">LEVELS=#{levels,jdbcType=INTEGER},</if>
            <if test="MenuFlag != null">MENU_FLAG=#{menuFlag,jdbcType=INTEGER},</if>
            <if test="tips != null">TIPS=#{tips,jdbcType=VARCHAR},</if>
            <if test="OpenFlag != null">OPEN_FLAG=#{openFlag,jdbcType=INTEGER},</if>
            <if test="disFlag != null">DIS_FLAG=#{disFlag,jdbcType=VARCHAR},</if>
            <if test="updateUser != null">UPDATE_USER=#{updateUser,jdbcType=VARCHAR},</if>
            <if test="updateDate != null">UPDATE_DATE=#{updateDate,jdbcType=TIMESTAMP},</if>
        </trim>
        where ID=#{id,jdbcType=INTEGER}
    </update>

    <!-- 根据角色ID获取所关联的菜单 -->
    <select id="getMenuIdByRoleId" resultType="Integer" parameterType="Integer">
        SELECT
          SYS_MENU.ID
        FROM SYS_MENU SYS_MENU
        LEFT JOIN SYS_MENU_ROLE SYS_MENU_ROLE
        ON SYS_MENU.ID=SYS_MENU_ROLE.MENU_ID
        WHERE SYS_MENU.DIS_FLAG = 0
        AND SYS_MENU_ROLE.ROLE_ID=#{roleId,jdbcType=INTEGER}
    </select>

    <insert id="insertOrUpdateRoleRelateMenu" parameterType="Integer">
        INSERT INTO SYS_MENU_ROLE (MENU_ID,ROLE_ID)
        VALUES
        <foreach collection="menuIds" item="item" index="index" separator="," >
            (
            #{item,jdbcType=INTEGER},
            #{id,jdbcType=INTEGER}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        MENU_ID=values(MENU_ID),ROLE_ID=values(ROLE_ID)
    </insert>
</mapper>
